html{
    font-family: bahnschrift, sans-serif;
}


/****** Header ******/

header{
    background: linear-gradient(to right, #2c7373, #025656, #025656, #025656, #2c7373);
    margin: 0;
}

header a{
    display: flex;
    justify-content: center;
}

header img{
    width: 35%;
}


/****** Header ******/

li{
    --bs-dropdown-link-active-bg: #f3ba00;
}


/****** Body ******/

main{
    padding: .5rem;
}


/****** Agenda ******/

.text-bg-day{
    background-color: #025656;
}


/****** Instances ******/

.scrollspy-example-2 {
    position: absolute;
    height: 100%;
    overflow: auto;
}

.nav-pills .nav-link.active{
    background-color: #f3ba00;
}


/****** Instances ******/

.positions{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

nav.nav.nav-pills.flex-column{
    --bs-nav-pills-link-active-bg:#025656;
    --bs-nav-link-color: #025656;
}

a.nav-link {
    --bs-nav-link-hover-color: #2c7373;
}


/****** Frais diff ******/

.quiz.contenu{
    display: none
}

h2.accordion-header{
    --bs-accordion-active-bg: #f3ba0070;
    --bs-accordion-btn-focus-box-shadow: #f3ba009a;
}

button.btn.btn-primary{
    --bs-btn-bg: #2c7373;
    --bs-btn-border-color: #2c7373;
    --bs-btn-hover-bg: #025656;
    --bs-btn-hover-border-color: #025656;
    --bs-btn-active-bg: #025656;
    --bs-btn-active-border-color: #025656;
}