html{
    font-family: crimson text, sans-serif;
}

hr{
    height: 1em;
    border: none;
}

/****** Header ******/
header{
    background: linear-gradient(to right, #2c7373, #025656, #025656, #025656, #2c7373);
}

header a{
    display: flex;
    justify-content: center;
}

header img{
    width: 30%;
}


/****** Main ******/
main{
    margin: 2rem;
    display: flex;
    flex-direction: row;
}

nav{
    width: 25%;
}

nav a{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 20px 10px;
}

nav a:hover{
    color: #f3ba00;
    border-bottom: 2px solid #f3ba00;
}

li{
    list-style-type: disc;
}

li:hover{
    color: #f3ba00;}

.deroulant{
    list-style-type: 'v';
}

.deroule{
    list-style-type: '^';
}

.sous{
    display: none;
}

.sous li{
    margin-left: 2rem;
    list-style-type: disc;
}

#titrePage{
    display: flex;
    justify-content: center;
    font-size: larger;
    font-weight: bold;
    margin-bottom: 2em;
}

.contenu{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

section{
    display: flex;
    flex-flow: wrap column;
    border-bottom: 13px solid transparent;
    margin: .5rem;
    padding: 3px;
    box-shadow: 0px 1px 2px #CCC;
}

section img{
    width: 22rem;
}

h3{
    font-size: large;
}


/****** Footer ******/


footer{/*
    position: absolute;
    bottom: 0;
    height: 5%;*/
    background: linear-gradient(to right, #2c7373, #025656, #2c7373);
}

footer img{
    width: 4%;
}